/* google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
/* variables */
:root{
    --header-height: 3rem;
    --font-semi: 600;
}
/* colors */
:root{
    --first-color: #4070f4;
    --second-color: #0e2431;
    --gardient-color: liner-gardient(to right, #5001fb,#8e0af3);

}
/* font style */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size : 2rem;
    --h2-font-size : 1.5rem;
    --nomarl-font-size : 0.938rem;
}
/* media screen min-width : 768px */
@media screen and(min-width: 768px){
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --nomral-font-size: 1rem;
    }
}
/* margins */
:root{
    --mb-1 : 0.5rem;
    --mb-2 : 1rem;
    --mb-3 : 1.5rem;
    --mb-4 : 2rem;
    --mb-5 : 2.5rem;
    --mb-6 : 3rem;
}
/* z-index */
:root{
    --z-back:-10;
    --z-normal:1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* base */
*,
::before,
::before{
    box-sizing: border-box;
}

html{
     scroll-behavior: smooth;
}

boby{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--nomarl-font-size);
    color: var(--second-color);
}

h1,h2,p{
    margin: 0;
}

u1{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* custom css classes */

/* layout */
.bd_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 2rem;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header{
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: var(--z-fixed);
 background: #fff;
 box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);    
}

/* navbar */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width : 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}

.nav_item{
    margin-bottom: var(--mb-4);
}

.nav_link{
    position: relative;
    color: #fff;
}

.nav_link:hover{
    position: relative;
}

.nav_link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nan_logo{
    color: var(--second-color);
}

.nav_toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* active menu */
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
.show{
    right: 0;
}

.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home_data{
    align-self: center;
}

.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home_title-color{
   color: var(--first-color);

}

.home_social{
    display: flex;
    flex-direction: column;

}

.home_social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home_social-icon:hover{
    color: var(--first-color);
}

.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
}

.home_img svg{
    width: 100%;
}

/* button */
.buttom{
    display: inline-block;
    color: white;
    padding: 0.75rem 2.5rem;
    font-weight: var(--first-color);
    border-radius: 0.5rem;
    background: var(--gardient-color);
}

.buttom:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;

}

.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/* contant */

.contact_input{
    width: 100%;
    font-size: var(--nomarl-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
    position: absolute;
}

.control_button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--nomarl-font-size);
    cursor: pointer;
    margin-left: auto;
}

.ebody{
    border: 1px soild;
    padding: 10px;
    box-shadow: 5px 10px;
}

@media screen and (min-width : 1000px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title{
        margin-bottom: var(--mb-6);
    }

    .section-title::after{
        width: 80px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .nav_item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
        border-left-width: var(--h2-font-size);
    }

   .nav_list{
        display: flex;
        padding: 0;
        initial-letter-align: flex;
        border-left-width: var(--gardient-color);
        
    } 

    .nav_list li{
        float: left;
        color: var(--first-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    

   /* .nav_link{
        color: var(--second-color);
        padding: right;
        position: relative;
        
        
        
        
    }*/

    .home{
        height: 100vh;
    }

    .home_data{
        align-self: flex-end;
    }

    .home_social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home_social-icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home_img{
        width: 460px;
        bottom: 15%;
    }

    .home_img svg{
        width: 100%;
    } 

    .doctor specification_container,
    .doctor name  details_container,
    .doctor appointment scheduled_container{
        grid-template-columns: repect(2, 1fr);
        align-items: center;
        text-align: initial; 

    }

    .doctor specification_img svg{
        width: 450px;

 
   }

   .nav_menu{
       display: flex;
       width: auto;
   }
    
}
.ebody{
    margin: 0;
    padding: 0;
    
}